# Cloudfoundry credentials
cloudfoundry_email: 
cloudfoundry_password: 
cloudfoundry_api: 

# Global secrets
notify_api_key: 

# Dev secrets
dev_security_user_name: 
dev_security_user_password: 
dev_secure_message_jwt_secret: 
dev_secret_key: 
dev_oauth2_super_user: 
dev_oauth2_super_user_email: 
dev_oauth2_super_user_password: 
dev_rabbitmq_amqp: 

# Test secrets
test_security_user_name: 
test_security_user_password: 
test_secure_message_jwt_secret:
test_secret_key: 
test_oauth2_super_user: 
test_oauth2_super_user_email: 
test_oauth2_super_user_password: 
test_rabbitmq_amqp: 
test_ons_cryptokey: 
test_json_secret_keys: 