# Cloudfoundry credentials
cloudfoundry_email: 
cloudfoundry_password: 
cloudfoundry_api: 
cloudfoundry_apps_domain: 

# Git
git_key: |


# Global secrets
notify_api_key: 

# SFTP
sftp_host: 
actionexporter_sftp_password: 
actionexporter_sftp_username: 
sample_sftp_password: 
sample_sftp_username: 

# Dev secrets
dev_security_user_name: 
dev_security_user_password: 
dev_jwt_secret: 
dev_oauth2_super_user: 
dev_oauth2_super_user_email: 
dev_oauth2_super_user_password: 
dev_rabbitmq_amqp_collection_instrument: 
dev_rabbitmq_amqp_survey_response: 
dev_json_secret_keys: 
dev_secure_message_client_secret: 
dev_backstage_client_secret: 
dev_collection_instrument_encryption_key: 
dev_enrolement_code_encryption_key: 
dev_uaa_private_key: |1-
          
dev_uaa_certificate: |1-
          
dev_uaa_private_key_password: 
dev_uaa_id: 
dev_uaa_secret: 
dev_uaa_jwt_signing_key: |1-
            
dev_uaa_jwt_verification_key: |1-
           
dev_uaa_admin_secret: 
dev_uaa_login_secret: 

# Acceptance tests
DATABASE_URI: 
DJANGO_OAUTH_DATABASE_URI: 
PARTY_DATABASE_URI: 
SECURE_MESSAGE_DATABASE_URI: 
COLLECTION_INSTRUMENT_DATABASE_URI:

# Test secrets
ci_security_user_name: 
ci_security_user_password: 
ci_jwt_secret: 
ci_oauth2_super_user: 
ci_oauth2_super_user_email: 
ci_oauth2_super_user_password: 
ci_rabbitmq_amqp_collection_instrument: 
ci_rabbitmq_amqp_survey_response: 
ci_json_secret_keys:
ci_secure_message_client_secret: 
ci_backstage_client_secret: 
ci_collection_instrument_encryption_key:
ci_enrolement_code_encryption_key: 
ci_uaa_private_key: |1-
ci_uaa_certificate: |1-
ci_uaa_private_key_password: 
ci_uaa_id: 
ci_uaa_secret: 
ci_uaa_jwt_signing_key: |1-
ci_uaa_jwt_verification_key: |1-
ci_uaa_admin_secret: 
ci_uaa_login_secret: 