# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:
cloudfoundry_apps_domain:

# Git
git_key: |


# Global secrets
test_notify_api_key:
slack_webhook:

# SFTP
sftp_host:
actionexporter_sftp_password:
actionexporter_sftp_username:
sample_sftp_password:
sample_sftp_username:

# CI secrets
ci_security_user_name:
ci_security_user_password:
ci_jwt_secret:
ci_oauth2_super_user:
ci_oauth2_super_user_email:
ci_oauth2_super_user_password:
ci_rabbitmq_amqp_collection_instrument:
ci_rabbitmq_amqp_survey_response:
ci_json_secret_keys:
ci_secure_message_client_secret:
ci_response_operations_client_secret:
ci_collection_instrument_encryption_key:
ci_enrolement_code_encryption_key:
ci_uaa_private_key: |1-
ci_uaa_certificate: |1-
ci_uaa_private_key_password:
ci_uaa_id:
ci_uaa_secret:
ci_uaa_jwt_signing_key: |1-
ci_uaa_jwt_verification_key: |1-
ci_uaa_admin_secret:
ci_uaa_login_secret:
ci_uaa_user_password:

# Latest secrets
latest_security_user_name:
latest_security_user_password:
latest_jwt_secret:
latest_oauth2_super_user:
latest_oauth2_super_user_email:
latest_oauth2_super_user_password:
latest_rabbitmq_amqp_collection_instrument:
latest_rabbitmq_amqp_survey_response:
latest_json_secret_keys:
latest_secure_message_client_secret:
latest_response_operations_client_secret:
latest_collection_instrument_encryption_key:
latest_enrolement_code_encryption_key:
latest_uaa_private_key: |1-
latest_uaa_certificate: |1-
latest_uaa_private_key_password:
latest_uaa_id:
latest_uaa_secret:
latest_uaa_jwt_signing_key: |1-
latest_uaa_jwt_verification_key: |1-
latest_uaa_admin_secret:
latest_uaa_login_secret:
latest_uaa_user_password:

# Preprod secrets
preprod_security_user_name:
preprod_security_user_password:
preprod_jwt_secret:
preprod_oauth2_super_user:
preprod_oauth2_super_user_email:
preprod_oauth2_super_user_password:
preprod_rabbitmq_amqp_collection_instrument:
preprod_rabbitmq_amqp_survey_response:
preprod_json_secret_keys:
preprod_secure_message_client_secret:
preprod_response_operations_client_secret:
preprod_collection_instrument_encryption_key:
preprod_enrolement_code_encryption_key:
preprod_uaa_private_key: |1-
preprod_uaa_certificate: |1-
preprod_uaa_private_key_password: 
preprod_uaa_id: UAA_ID
preprod_uaa_secret: cakes
preprod_uaa_jwt_signing_key: |1-
preprod_uaa_jwt_verification_key: |1-
preprod_uaa_admin_secret:
preprod_uaa_login_secret:
preprod_uaa_user_password:

# Prod secrets
prod_security_user_name:
prod_security_user_password:
prod_jwt_secret:
prod_oauth2_super_user:
prod_oauth2_super_user_email:
prod_oauth2_super_user_password:
prod_rabbitmq_amqp_collection_instrument:
prod_rabbitmq_amqp_survey_response:
prod_json_secret_keys:
prod_secure_message_client_secret:
prod_response_operations_client_secret:
prod_collection_instrument_encryption_key:
prod_enrolement_code_encryption_key:
prod_uaa_private_key: |1-
prod_uaa_certificate: |1-
prod_uaa_private_key_password:
prod_uaa_id:
prod_uaa_secret:
prod_uaa_jwt_signing_key: |1-
prod_uaa_jwt_verification_key: |1-
prod_uaa_admin_secret:
prod_uaa_login_secret:
prod_uaa_user_password:
