# Loadtest secrets
loadtest_security_user_name:
loadtest_security_user_password:
loadtest_jwt_secret:
loadtest_oauth2_super_user:
loadtest_oauth2_super_user_email:
loadtest_oauth2_super_user_password:
loadtest_rabbitmq_amqp_collection_instrument:
loadtest_rabbitmq_amqp_survey_response:
loadtest_json_secret_keys:
loadtest_secure_message_client_secret:
loadtest_collection_instrument_encryption_key:
loadtest_enrolement_code_encryption_key:
loadtest_uaa_private_key: |1-
loadtest_uaa_certificate: |1-
loadtest_uaa_private_key_password:
loadtest_uaa_id:
loadtest_uaa_secret:
loadtest_uaa_jwt_signing_key: |1-
loadtest_uaa_jwt_verification_key: |1-
loadtest_uaa_admin_secret:
loadtest_uaa_login_secret:
loadtest_uaa_user_password:
