# Loadtest secrets
performance_security_user_name:
performance_security_user_password:
performance_jwt_secret:
performance_oauth2_super_user:
performance_oauth2_super_user_email:
performance_oauth2_super_user_password:
performance_rabbitmq_amqp_collection_instrument:
performance_rabbitmq_amqp_survey_response:
performance_json_secret_keys:
performance_secure_message_client_secret:
performance_collection_instrument_encryption_key:
performance_enrolement_code_encryption_key:
performance_uaa_private_key: |1-
performance_uaa_certificate: |1-
performance_uaa_private_key_password:
performance_uaa_id:
performance_uaa_secret:
performance_uaa_jwt_signing_key: |1-
performance_uaa_jwt_verification_key: |1-
performance_uaa_admin_secret:
performance_uaa_login_secret:
performance_uaa_user_password:
