# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:

preprod_cloudfoundry_email:
preprod_cloudfoundry_password:
preprod_cloudfoundry_api:
preprod_cloudfoundry_apps_domain:

prod_cloudfoundry_email:
prod_cloudfoundry_password:
prod_cloudfoundry_api:
prod_cloudfoundry_apps_domain:

# Latest secrets
latest_username:
latest_password:

# Preprod secrets
preprod_username:
preprod_password:

# Prod secrets
prod_username:
prod_password:
