# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:

prod_cloudfoundry_email:
prod_cloudfoundry_password:
prod_cloudfoundry_api:
prod_cloudfoundry_apps_domain:

# Slack
slack_webhook: 

# Latest secrets
latest_security_user_name:
latest_security_user_password:
latest_json_secret_keys:

# Preprod secrets
preprod_security_user_name:
preprod_security_user_password:
preprod_json_secret_keys:

# Prod secrets
prod_security_user_name:
prod_security_user_password:
prod_json_secret_keys:
