# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:

preprod_cloudfoundry_email:
preprod_cloudfoundry_password:
preprod_cloudfoundry_api:
preprod_cloudfoundry_apps_domain:

prod_cloudfoundry_email:
prod_cloudfoundry_password:
prod_cloudfoundry_api:
prod_cloudfoundry_apps_domain:

# Slack
slack_webhook:

# Latest secrets
latest_security_user_name:
latest_security_user_password:
latest_json_secret_keys:
latest_rh_secret_key:

# Preprod secrets
preprod_account_service_url:
preprod_domain:
preprod_path:
preprod_security_user_name:
preprod_security_user_password:
preprod_json_secret_keys:
preprod_rh_secret_key:

# Prod secrets
prod_account_service_url:
prod_domain:
prod_path:
prod_security_user_name:
prod_security_user_password:
prod_json_secret_keys:
prod_rh_secret_key:
