# Cloudfoundry credentials
cloudfoundry_email: 
cloudfoundry_password:
cloudfoundry_api:
cloudfoundry_apps_domain:

# Latest secrets
latest_security_user_name:
latest_security_user_password:

# Preprod secrets
preprod_security_user_name:
preprod_security_user_password:
preprod_json_secret_keys:

# Prod secrets
prod_security_user_name:
prod_security_user_password:
prod_json_secret_keys:
