# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:

preprod_cloudfoundry_email:
preprod_cloudfoundry_password:
preprod_cloudfoundry_api:
preprod_cloudfoundry_apps_domain:

prod_cloudfoundry_email:
prod_cloudfoundry_password:
prod_cloudfoundry_api:
prod_cloudfoundry_apps_domain:

# Latest secrets
latest_security_user_name:
latest_security_user_password:
latest_response_operations_social_client_secret:

# Preprod secrets
preprod_security_user_name:
preprod_security_user_password:
preprod_response_operations_social_client_secret:

# Prod secrets
prod_security_user_name:
prod_security_user_password:
prod_response_operations_social_client_secret:

# Slack
slack_webhook:
