# Cloudfoundry credentials
cloudfoundry_email:
cloudfoundry_password:
cloudfoundry_api:

preprod_cloudfoundry_email:
preprod_cloudfoundry_password:
preprod_cloudfoundry_api:
preprod_cloudfoundry_apps_domain:

ppod_cloudfoundry_email:
prod_cloudfoundry_password:
prod_cloudfoundry_api:
prod_cloudfoundry_apps_domain:

# Latest secrets
latest_security_user_name:
latest_security_user_password:

# Preprod secrets
preprod_security_user_name:
preprod_security_user_password:

# Prod secrets
prod_security_user_name:
prod_security_user_password:

# Preprod domains
preprod_vpn_domain:
preprod_internal_domain:

# Prod domains
prod_vpn_domain:
prod_internal_domain:

# Slack Notify
slack_webhook: 
